*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;


  max-width: 680px;
  width: 90vw;
  min-height: 100vh;
  margin: 0 auto;
} 

.menu {
  background-color: tomato;
  width: 100vw; 
  padding: 10vh 10vh 5vh 10vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 10%;
}

.nav-input {
  width: 25%;
}

.button-add {
 margin-left: -4px;
  border: none;
  outline: none;
  padding: 3%;
  border-radius: 0 4px 4px 0;
}

.input-list {
  width: 75%;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  padding: 3%;
  margin: 0;
}

.tasks {
  width: 100%;
  
}

.task-list {
  width: 100%; 
  list-style: none;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.item-list {
  padding-left: 3%;
  font-size: 18px;
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  transition: .78s;
}

.item-list:hover {
  background-color: #bebebe;
}

.close {
  background-color: #eee;
  cursor: pointer;
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.close:hover {
  background-color: red;
  color: #fff;
}

.checked {
  background-color: #12af83 ;
  text-decoration: line-through;
}

.finish {
  display: none;
}









